/* You can add global styles to this file, and also import other style files */

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-style: Comic Sans MS, Comic Sans, cursive;
}

.home-bg-img{
    background-image: url('assets/images/bg3.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}

.game-bg-img {
    background-image: url('assets/images/bg5.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}