<div class="rules">
  <h1>Rules:</h1>
  <p>asdélfjaésdlfjaéslkdjfasdfkjaséldfjéalsdfjdlékf 
    <br> asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfas
    <br> asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfas
    <br> asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfas
    <br> asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfas
    <br> asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfas
    <br> asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfas
  </p>
  <a href="/game">Start the game</a>
  <p>Kártyák száma:</p>
  <input type="number" placeholder="3 db - 10 db" min="3" max="10">
</div>